<%= simple_form_for @user_profile,  html: { class: 'form-horizontal' },
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                    check_boxes: :horizontal_radio_and_checkboxes,
                    radio_buttons: :horizontal_radio_and_checkboxes,
                    file: :horizontal_file_input,
                    boolean: :horizontal_boolean
                    } do |f| %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :start_date, as: :date, start_year: 2007,
      end_year: Date.today.year, discard_day: true,
      order: [:month, :year] %>
  <%= f.input :department %>
  <%= f.input :floor %>

  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.button :submit %>

<% end %>
